// Colours
//$off-black: #20222b;
//$off-white: #a5afd7;
//$dark-blue: #333745;
//$blue: #3c4251;
//$light-blue: #464b5e;
//$purple: #8357c5;
$base-white: #fff;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$desktop-breakpoint: 45rem;
